.vscode

./target
./client/target
./client/target/
./server/target/
./utils/target/

server/target/
utils/target/
client/target/

/target

server/src/data/*
client/account

client/*.esipass
*.esipass
*.txt
client/*.txt
./client/*.txt
client/*.esipass
./client/*.esipass
